
@{
    ViewBag.Title = "YeuThichRong";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="row ml-150">
    <h2 class="text-warning m-5 text-ml">Không có gì trong danh sách yêu thích</h2>
    <a class="mua-them" href="/VeXe/ShowAllVeXe">Xem Thêm Vé</a>
</div>


