
@{
    ViewBag.Title = "ThongBaoDatVe";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="row ml-150">
    <h2 class="text-warning m-5 text-ml">@Session["thongbao"]</h2>
    <a class="mua-them" href="/VeXe/ShowAllVeXe">Xem Thêm Vé</a>
</div>

